.htp img{
    height: 40%;
    width: 20%;
}

.container img{
    height: 60%;
    width: 40%;
    border-radius: 50%;

}

.container img :hover{
    box-shadow: blue;
    transition: .7s;
}



.oppsteppa img{
    height: 60%;
    width: 40%;

}



body{
    background-color: grey;
}

.hht a{
    color: gold;
}



